.highlight code { color: #E7E4D6; font-family: Consolas, Monaco,"Lucida Console"; }
.highlight code * { font-family: Consolas, Monaco,"Lucida Console"; }
.highlight code .hll { background-color: #ffffcc }
.highlight code .c { color: #5F5A60; font-style: italic } /* Comment */
.highlight code .err { border:#B22518; } /* Error */
.highlight code .k { color: #CDA869 } /* Keyword */
.highlight code .cm { color: #5F5A60; font-style: italic } /* Comment.Multiline */
.highlight code .cp { color: #5F5A60 } /* Comment.Preproc */
.highlight code .c1 { color: #5F5A60; font-style: italic } /* Comment.Single */
.highlight code .cs { color: #5F5A60; font-style: italic } /* Comment.Special */
.highlight code .gd { background: #420E09 } /* Generic.Deleted */
.highlight code .ge { font-style: italic } /* Generic.Emph */
.highlight code .gr { background: #B22518 } /* Generic.Error */
.highlight code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight code .gi { background: #253B22 } /* Generic.Inserted */
.highlight code .go {  } /* Generic.Output */
.highlight code .gp { font-weight: bold } /* Generic.Prompt */
.highlight code .gs { font-weight: bold } /* Generic.Strong */
.highlight code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight code .gt {  } /* Generic.Traceback */
.highlight code .kc {  } /* Keyword.Constant */
.highlight code .kd { color: #e9df8f;  } /* Keyword.Declaration */
.highlight code .kn {  } /* Keyword.Namespace */
.highlight code .kp { color: #9B703F } /* Keyword.Pseudo */
.highlight code .kr {  } /* Keyword.Reserved */
.highlight code .kt {  } /* Keyword.Type */
.highlight code .m { } /* Literal.Number */
.highlight code .s {  } /* Literal.String */
.highlight code .na { color: #F9EE98 } /* Name.Attribute */
.highlight code .nb { color: #CDA869 } /* Name.Builtin */
.highlight code .nc { color: #9B859D; font-weight: bold } /* Name.Class */
.highlight code .no { color: #9B859D } /* Name.Constant */
.highlight code .nd { color: #7587A6 } /* Name.Decorator */
.highlight code .ni { color: #CF6A4C; font-weight: bold } /* Name.Entity */
.highlight code .nf { color: #9B703F; font-weight: bold } /* Name.Function */
.highlight code .nn { color: #9B859D; font-weight: bold } /* Name.Namespace */
.highlight code .nt { color: #CDA869; font-weight: bold } /* Name.Tag */
.highlight code .nv { color: #7587A6 } /* Name.Variable */
.highlight code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight code .w { color: #141414 } /* Text.Whitespace */
.highlight code .mf { color: #CF6A4C } /* Literal.Number.Float */
.highlight code .mh { color: #CF6A4C } /* Literal.Number.Hex */
.highlight code .mi { color: #CF6A4C } /* Literal.Number.Integer */
.highlight code .mo { color: #CF6A4C } /* Literal.Number.Oct */
.highlight code .sb { color: #8F9D6A } /* Literal.String.Backtick */
.highlight code .sc { color: #8F9D6A } /* Literal.String.Char */
.highlight code .sd { color: #8F9D6A; font-style: italic; } /* Literal.String.Doc */
.highlight code .s2 { color: #8F9D6A } /* Literal.String.Double */
.highlight code .se { color: #F9EE98; font-weight: bold; } /* Literal.String.Escape */
.highlight code .sh { color: #8F9D6A } /* Literal.String.Heredoc */
.highlight code .si { color: #DAEFA3; font-weight: bold; } /* Literal.String.Interpol */
.highlight code .sx { color: #8F9D6A } /* Literal.String.Other */
.highlight code .sr { color: #E9C062 } /* Literal.String.Regex */
.highlight code .s1 { color: #8F9D6A } /* Literal.String.Single */
.highlight code .ss { color: #CF6A4C } /* Literal.String.Symbol */
.highlight code .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
.highlight code .vc { color: #7587A6 } /* Name.Variable.Class */
.highlight code .vg { color: #7587A6 } /* Name.Variable.Global */
.highlight code .vi { color: #7587A6 } /* Name.Variable.Instance */
.highlight code .il { color: #009999 } /* Literal.Number.Integer.Long */
.highlight code .l-Scalar-Plain { color: #e9df8f; }
.highlight code .p-Indicator { color: #7587A6; }


