/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 14px; line-height: 1.231; }
body, button, input, select, textarea { font-family: Sans-Serif; color: #222; }

/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
/*::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

body {
}

#container {
    border-top: 5px solid #CC6600;
    min-width: 996px;
}

#header {
    background: #EDEAE0 url(../img/top-bg.png);
    min-width: 996px;
    position: relative;
}

#header:before {
    content: ' ';
    display: block;
    background: url(../img/top-top-bg.png) repeat-x;
    height: 30px;
    width: 100%;
}

#main-description, #header h1, #main-menu ul, #main article, #footer p {
    width: 996px;
    margin: 0 auto;
}

#header h1 {
    margin: -30px auto 0 auto;
    background: url(../img/logo.png) no-repeat;
}

#header h1 a {
    text-indent: -1000px;
/*    border: 1px solid red;*/
    display: block;
    line-height: 60px;
    width: 353px;
}

#main-description {
    width: 946px;
    margin-top: -60px;
    padding-left: 50px;
    overflow: hidden;
}

#header hr {
    height: 4px;
    display: block;
    bottom: 0px;
    background: #8F8B7E;
    opacity: 0.37;
    margin: 0;
    padding: 0;
}

#main-description h3 {
    color: #CC6600;
    font-size: 23px;
    font-family: Monaco, Sans-Serif;
    border-bottom: 2px solid #CAC7BC;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 90px;
    background: url(../img/features-bg.png) 100% 100% no-repeat;
}

#main-description h3:after {
    margin-top: 8px;
    content: " ";
    display: block;
    border-top: 4px solid #CAC7BC;
    height: 1px;
}

#main-description p {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 18px;
    color: #545147;
}

#main-description ul {
    list-style-image: url(../img/arrow.png);
    list-style-position: outside;
    margin-left: 30px;
    padding: 0px;
}

#main-description ul li {
    font-size: 14px;
    color: #3F3B34;
    padding-left: 20px;
    line-height: 35px;
}

#main-menu {
    position: relative;
    background: #8F8B7E;
    border-bottom: 4px solid #744B21;
}

#main-menu ul {
    overflow: hidden;
}

#main-menu ul li {
    float: left;
    border-left: 1px solid #9D998D;
    padding-left: 3px;
}

#main-menu ul li a {
    border-left: 1px solid #7B776C;
    color: #E7E4D6;
    padding: 0px 20px;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 2px #000;
}

#main-menu ul li a:hover {
    text-decoration: underline;
}

#main-menu ul li.current a {
    background-color: #686358;
}


#main-menu ul li:last-child {
    border-right: 1px solid #7B776C;
    padding-right: 3px;
}

#main-menu ul li:last-child a {
    border-right: 1px solid #9D998D;
}

#main, body {
    background: #413D36 url(../img/main-bg.png);
}

#main {
    background: url(../img/main-bg.png);
    position: relative;
    border-bottom: 4px solid #744B21;
}

#main:before {
    content: ' ';
    background: url(../img/main-top-bg.png);
    height: 15px;
    display: block;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    top: 0px;
}

#main:after {
    content: ' ';
    background: url(../img/main-bottom-bg.png);
    height: 15px;
    display: block;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#main article {
    padding-top: 1em;
    background: #555148;
    border: 3px solid #686358;
    width: 940px;
    padding: 0px 25px 20px 25px;
    margin-top: 20px;
    color: #E7E4D6;
    font-family: Sans-Serif;
    font-size: 14px;
    line-height: 1.5em;
}

#main article header {
    padding-top: 10px;
}

#main article h2,h3,h4 {
    color: #E17000;
    font-weight: normal;
}

#main article:first-child {
    border-top: 0px;
    margin-top: 0px;
    padding-top: 20px;
}

#main article:last-child {
    margin-bottom: 30px;
}

#main a:hover {
    color: #E17000;
}

#footer {
    background: #322F2A;
    color: #8D8B7E;
    font-size: 11px;
}

#footer p {
    padding: 10px 0 10px;
}

#footer a {
  color: #8D8B7E;
}

#footer a:hover {
  color: #E17000;
}

pre, article code {
    background: #322F2A;
    border: 1px solid #5C5A52;
}

pre {
    padding: 5px 5px 5px 20px;
    line-height: 1.2em;
}

article code {
    padding: 2px;
}

article pre code {
    padding: 0; border: 0; line-height: 1em; font-size: 14px;
}

.sticky #main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
    -moz-box-shadow: 0px 5px 5px rgba(65, 61, 54, 0.8);
    -webkit-box-shadow: 0px 5px 5px rgba(65, 61, 54, 0.8);
    box-shadow: 0px 5px 5px rgba(65, 61, 54, 0.8);
}

.sticky #header {
    margin-bottom: 40px;
}

#forkme {
    position: absolute;
    right: 0px;
    top: -5px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    z-index: 5;
}

#forkme p {
    background: #CC6600;
    margin: 0;
    padding: 2px;
    position: absolute;
    width: 200px;
    top: 40px;
    right: -40px;
    font-weight: bold;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -moz-box-shadow: -5px 5px 15px rgba(65, 61, 54, 0.7);
    -webkit-box-shadow: -5px 5px 15px rgba(65, 61, 54, 0.7);
    box-shadow: -5px 5px 15px rgba(65, 61, 54, 0.7);
}

#forkme a {
    border-top: 1px solid #EB7500;
    border-bottom: 1px solid #A65300;
    display: block;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    color: #FFF;
}

#forkme a:before, #forkme a:after {
    content: " ";
    display: block;
    height: 1px;
    background: #A65300;
}

#forkme a:after {
    background: #EB7500;
}





/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
