common: &common
  adapter: mysql
  encoding: utf8
  reconnect: false
  pool: 1
  username: root
  password:

#----------------------------------------------------------------
test:
  <<: *common
  database: db_charmer_sandbox_test

  # logs database
  logs:
    <<: *common
    database: db_charmer_logs_test

  # slave database
  slave01:
    <<: *common
    username: db_charmer_ro
    database: db_charmer_sandbox_test

  user_master:
    <<: *common
    database: db_charmer_sandbox_test

  # shard mapping db
  social_shard_info:
    <<: *common
    database: db_charmer_sandbox_test

  # for migrations only
  social_shard01:
    <<: *common
    database: db_charmer_events_test_shard01

  # for migrations only
  social_shard02:
    <<: *common
    database: db_charmer_events_test_shard02

#----------------------------------------------------------------
test22:
  <<: *common
  database: db_charmer_sandbox22_test

  # logs database
  logs:
    <<: *common
    database: db_charmer_logs22_test

  # slave database
  slave01:
    <<: *common
    username: db_charmer_ro
    database: db_charmer_sandbox22_test

  user_master:
    <<: *common
    database: db_charmer_sandbox22_test

  # shard mapping db
  social_shard_info:
    <<: *common
    database: db_charmer_sandbox22_test

  # for migrations only
  social_shard01:
    <<: *common
    database: db_charmer_events22_test_shard01

  # for migrations only
  social_shard02:
    <<: *common
    database: db_charmer_events22_test_shard02
